.arroba {
	float:left;
	color: #888;
	font-size: 20px;
	margin: 10px 0;
}

input { 
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}


input:hover{ 
	border-color: #33bcef; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
}



input:focus{
	border-color: #019ad2; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}


#caja_texto {
	width: 270px;
	margin: 5px;
	}


#contenedor {
	width: 400px;
	height: 43px;
}


#boton_enviar {		
    height: 35px;
    padding: 5px;
    width: 75px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	background-color: #019AD2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#33bcef),to(#019ad2));
	background-image: -moz-linear-gradient(#33bcef,#019ad2);
	background-image: -ms-linear-gradient(#33bcef,#019ad2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#33bcef),color-stop(100%,#019ad2));
	background-image: -webkit-linear-gradient(#33bcef,#019ad2);
	background-image: -o-linear-gradient(#33bcef,#019ad2);
	background-image: linear-gradient(#33bcef,#019ad2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0);
	border-color: #057ED0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);

}

#boton_enviar:hover,#boton_enviar:focus {
	background-image: -khtml-gradient(linear,left top,left bottom,from(#019ad2),to(#33bcef));
	background-image: -moz-linear-gradient(#019ad2,#33bcef);
	background-image: -ms-linear-gradient(#019ad2,#33bcef);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#019ad2),color-stop(100%,#33bcef));
	background-image: -webkit-linear-gradient(#019ad2,#33bcef);
	background-image: -o-linear-gradient(#019ad2,#33bcef);
	background-image: linear-gradient(#019ad2,#33bcef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2',endColorstr='#33bcef',GradientType=0);
	border-color: #057ED0;
}	

#boton_enviar::-moz-focus-inner {
  border: none;
}

.credits {
	width: 380px;
}