<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles/card_limit_css.css" type="text/css">
		<title>Twitter Card</title>
	</head>
	<body>
		<div id="contenedor">
			<p>Se ha llegado al límite de peticiones a la API de Twitter (150 por hora).</p>
			<p>Por favor vuelva a intentarlo más tarde.</p>
		</div>
	</body>
	<footer>
		<p>
			© José Joaquín Pastor <a href="http://twitter.com/elultimorey">@elultimorey</a> 
		</p>
		<p>
			<a href="http://code.google.com/appengine/">
				<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Con la tecnología de Google App Engine" />
			</a>
		</p>
	</footer>
</html>
