<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles/base.css" type="text/css">
		<link rel="stylesheet" href="styles/index.css" type="text/css">
		<title>mTwitterCard</title>
	</head>
	<body>
		<div id="wrapper">
			<div id="contenedor">
				<p class="arroba">@</p>
				<form name="formulario" method="get" action="/">
					<input id="caja_texto" type="text" name="resp" placeholder="Usuario" required /><input id="boton_enviar" type="submit" value="Enviar" onclick="document.forms['formulario'].action=document.forms['formulario'].elements['resp'].value" />
				</form>
			</div>
			<div class="credits">
				<p class="me">© José Joaquín Pastor <a href="http://twitter.com/elultimorey">@elultimorey</a><a href="https://developers.google.com/appengine"><img class="powered" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Con la tecnología de Google App Engine" /></a></p>
			</div>
		</div>
	</body>

</html>